
<div [ngSwitch]="type">
    <div *ngSwitchCase="'pie'">
        <ngx-charts-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="data"
            [legend]="showLegend"
            [explodeSlices]="explodeSlices"
            [labels]="showLabels"
            [doughnut]="doughnut"
            [gradient]="gradient"
            (select)="onSelect($event)">
        </ngx-charts-pie-chart>
    </div>
    <div *ngSwitchCase="'advancedPie'">
        <ngx-charts-advanced-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="data"
            (select)="onSelect($event)">
        </ngx-charts-advanced-pie-chart>
    </div>
    <div *ngSwitchCase="'gridPie'">
        <ngx-charts-pie-grid
            [view]="view"
            [scheme]="colorScheme"
            [results]="data"
            (select)="onSelect($event)">
        </ngx-charts-pie-grid>
    </div>
    <div *ngSwitchCase="'gauge'">
        <ngx-charts-gauge
            [view]="view"
            [scheme]="colorScheme"
            [results]="data"
            [min]="0"
            [max]="10"
            (select)="onSelect($event)">
        </ngx-charts-gauge>
    </div>
    <div *ngSwitchCase="'horiBar'">
        <ngx-charts-bar-horizontal 
            [view]="view"
            [scheme]="colorScheme"
            [results]="data"
            [legend]="showLegend"
            (select)="onSelect($event)">
      </ngx-charts-bar-horizontal>      
    </div>
    <div *ngSwitchCase="'vertBar'">
        <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="data"
            [legend]="showLegend"
            (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
    </div>
    <div *ngSwitchCase="'numberCard'">
        <ngx-charts-number-card
            [view]="view"
            [scheme]="colorScheme"
            [results]="data"
            (select)="onSelect($event)">
        </ngx-charts-number-card>
    </div>
    <div *ngSwitchCase="'treeMap'">
        <ngx-charts-tree-map
            [view]="view"
            [scheme]="colorScheme"
            [results]="data"
            [gradient]="gradient"
            (select)="onSelect($event)">
        </ngx-charts-tree-map>
    </div>
</div>
