<app-chart [type]="type" [color]="color" [data]="data"></app-chart>
<div class="form-group">
  <label for="Chart">Chart</label>
  <select (change)="onChanegType(selectType)" #selectType class="form-control" name="Chart" id="Chart">
    <option value="pie">Pie </option>
    <option value="advancedPie">advanced Pie</option>
    <option value="gridPie">grid Pie</option>
    <option value="gauge">gauge</option>
    <option value="horiBar">horizontal Bar</option>
    <option value="vertBar">vertical Bar</option>
    <option value="numberCard">number Card</option>
    <option value="treeMap">tree Map</option>
  </select>
</div>

<div class="form-group">
  <label for="Color">Color</label>
  <select (change)="onChanegColor(selectedColor)" #selectedColor class="form-control" name="Color" id="Color">
    <option value="vivid">vivid </option>
    <option value="natural">natural</option>
    <option value="cool">cool</option>
    <option value="fire">fire</option>
    <option value="solar">solar</option>
    <option value="air">air</option>
    <option value="aqua">aqua</option>
    <option value="flame">flame</option>
    <option value="ocean">ocean</option>
    <option value="forest">forest</option>
    <option value="horizon">horizon</option>
    <option value="neons">neons</option>
    <option value="picnic">picnic</option>
    <option value="night">night</option>
    <option value="nightLights">night Lights</option>
  </select>
</div>

<div class="display">
    <app-chart [type]="'pie'" [color]="color" [data]="data"></app-chart>
    <app-chart [type]="'advancedPie'" [color]="color" [data]="data"></app-chart>
</div>
<div class="display">
    <app-chart [type]="'gridPie'" [color]="color" [data]="data"></app-chart>
    <app-chart [type]="'numberCard'" [color]="color" [data]="data"></app-chart>
</div>
<div class="display">
    <app-chart [type]="'horiBar'" [color]="color" [data]="data"></app-chart>
    <app-chart [type]="'vertBar'" [color]="color" [data]="data"></app-chart>
</div>
<div class="display">
    <app-chart [type]="'gauge'" [color]="color" [data]="data"></app-chart>
    <app-chart [type]="'treeMap'" [color]="color" [data]="data"></app-chart>
</div>